// A mixin is properties that are available to everyone
@mixin center-in-parent {
    margin-left: auto;
    margin-right: auto;
}

@mixin background{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

@mixin transition{
	-webkit-transition:all 0.5s;
    -o-transition:all 0.5s;
    -moz-transition:all 0.5s;
    transition:all 0.5s;
}

@mixin make-container($prefix:''){
	.container {
		@include center-in-parent;

		@if($prefix=='xl'){ // try an and 
			width:100%;
		} @else if($prefix=='lg') {
			width:100%;
		} @else {
			width:100%;
		}
	}
}



@function class-stack($type,$middlefix,$size,$list:''){
	@for $i from 1 through $size {
		@if($list!=''){
			$list: "#{$list}, ";
		}
		$list: "#{$list}.#{$type}#{$middlefix}-#{$i}";
	}
	@return $list;
}

// #{class-stack('col','-sm',12,'')} {
// 	width:10px;
// }

@mixin make-columns($prefix:''){
	@if($prefix!=''){
		$prefix:"-#{$prefix}";
	}

	@for $i from 1 through $column-length {
	.col#{$prefix}-#{$i} {
		width: percentage( $i / $column-length )
		}
	}

}

//@include make-columns('sm');

@mixin make-column-definitions {
	$list: class-stack('col', '', $column-length, '');
	@each $prefix, $prevalue in $container-width {
		$list: class-stack('col',"-#{$prefix}", $column-length, $list);
	}
	
	// [class^=col]
	#{$list} {
		padding-left: $gutter-size / 2;
		padding-right: $gutter-size / 2;
		float:left;
	}

	.row{
		margin-left: -($gutter-size / 2);
		margin-right: -($gutter-size / 2);
	}
	.row:after{
		content:'';
		display:table;
		clear:both;
	}
}

@include make-column-definitions;