// CSS Reset

* {
	box-sizing: border-box;
}

body {
	font-size:100%;
	line-height: 1.2;
	font-family: Verdana, sans-serif;
}

body, h1, h2, h3, h4, blockquote, aside {
	margin: 0;
}

header, footer, aside, nav, section, article, figure {
	display: block;
}


h1 {
	font-size:1.75em;
}

h2 {
	font-size:1.35em;
}

h3 {
	font-size:1.15em;
}

h4 {
	font-size:1em;
}

a {
	font-weight:bold;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

