<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Signs</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  
  <link rel="stylesheet" href="{{static_url("styles/plugins.css")}}">
  <link rel="stylesheet" href="{{static_url("styles/main.css")}}">
  
  <script src="{{static_url("scripts/jquery.js")}}"></script>
  <script src="{{static_url("scripts/vendor/modernizr.js")}}"></script>
</head>

{% block body %}{% end %}

  <script src="{{static_url("scripts/vendor.js")}}"></script>
  <script src="{{static_url("scripts/plugins.js")}}"></script>
  <script src="{{static_url("scripts/main.js")}}"></script>
  <script src="{{static_url("scripts/animation.js")}}"></script>
  <script src="{{static_url("scripts/waypoints.min.js")}}"></script>
</body>

</html>
