{% extends compatibility.html %}



{% block zodiac %}
aquarius
{% end %}

{% block menuzodiacname %}
aquarius
{% end %}

{% block aboutname %}
aquariuses
{% end %}

{% block compatibilitymenu %}

  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}
      <article class="article article-aries text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Aries Compatibility</h2>
          <p class="article__text text-justify">An Air sign with a Fire sign! It couldn’t have been better because Air keeps the Fire burning and Fire keeps the Air warm! Aquarius is permanently in the Air because (s)he dreams of saving the world, and Aries always burns for the sake of initiatives and action. The unpredictable is what ties them together. Aquarius (ruled by Uranus) is original and imaginative - hence the splendor of the relationship. But Aries (ruled by Mars) is always an enthusiastic who only thinks after (s)he takes action (and not too often though) - hence the “explosive” nature of the couple. 

</p>
          <p class="article__text text-justify">Aquarius and Aries are good for each other because they are active, full of great intentions, thoughts and deeds, sometimes even heroic, and in some cases they are even adventurous.
</p>
      </article>


      <article class="article article-gemini text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Gemini Compatibility</h2>
          <p class="article__text text-justify">Air and Air! What can we expect of them? Maybe just to pay more attention to the sentimental life, not to miss the feelings. The Aquarius-Gemini couple is a special, wonderful, “airy” combination, full of ideas that meet successfully Gemini’s pleasure to pass on the information and Aquarius’ gift to take this information to the highest peaks of mentality.
</p>
          <p class="article__text text-justify">Gemini says “I’ve got an idea” and Aquarius exclaims “I’ve come up with an idea” - and thus their love takes the shape of mental exercise manifested in conversations, trips, communication, friendly or professional meetings, fast acquisitions of books, newspapers, DVDs or fast solving of telephonic obligations. 
</p>
      </article>


      <article class="article article-libra text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Libra Compatibility</h2>
          <p class="article__text text-justify">The Aquarius-Libra couple will always be comfortable around the others - at parties, shows, interviews, taking part in charity deeds or in partnership negotiations of any kind.This is a couple in which Libra brings refinement and Aquarius brings immensity, in which the heart of Venus (Libra) has the capacity to synchronize its beats with the cerebral rhythms of Uranus (Aquarius).</p>
          <p class="article__text text-justify">Isn’t it natural? Isn’t Venus (love) the last, yet perfect creation of Uranus (Space), achieved by a perfect sublimation? This means that love is given by God and this is precisely why it is infinite; we become an ocean of happiness for ourselves and for the others because we experience it. 

</p>
      </article>


      <article class="article article-sagittarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Sagittarius Compatibility</h2>
          <p class="article__text text-justify">Talking about this relationship is like reading an encyclopedia of all times: nothing is hidden, unknown or unexplored. Sagittarius’ often prophetic visionariness will always find the necessary support and enthusiasm in Aquarius’ dreams to improve the human condition, and Aquarius’ wish to wander freely through the Realm of Gods will always have a passionate fan in Sagittarius’ passion for exploration. </p>
          <p class="article__text text-justify">If they truly love each other, then nobody can affect this sincere, dynamic, often passionate couple, characterized by a real aspiration to break all limits. Don’t think for a moment that there is something that can scare them or make them give up. No way!Sagittarius knows the highest purpose of life very well, the constellation for which his/her heart beats. As for Aquarius, there is no barrier to stop him/her.
</p>
      </article>


      <article class="article article-leo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Leo Compatibility</h2>
          <p class="article__text text-justify">“Excellent combination!” most of us would say, because, indeed, good Air can sustain a long Fire. Great commitment (Leo) becomes at any time the support of enthusiasm (Aquarius) that can mean everything.</p>
          <p class="article__text text-justify">However, there is some over royalty here: Leo is theatrical and takes, sometimes abusively, the entire scene of Aquarius’ existence, while Aquarius, the king of the whole space by definition, stands no limitation, even if it is out of love.In an Aquarius-Leo couple, each of them tries to impose on the other one what is characteristic of him/herself: Leo - his/her absolute royalism, Aquarius - his/her unlimited freedom.
</p>
      </article>


      <article class="article article-aquarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Aquarius Compatibility</h2>
          <p class="article__text text-justify">When you see them, don’t be surprised if they’re planning the rehabilitation of the human being at a planetary level and talking about what they could invent to gain more time. Because Uranus’ adventure is, in its essence, an adventure beyond Time, precisely for Space not to be threatened anymore by this “erosion” energy. Because if Uranus loses his Space, (s)he loses the reason of being. </p>
          <p class="article__text text-justify">And the heart, also - isn’t it an infinite space? Love - isn’t it a space without which nobody and no one can breathe? Then? Isn’t Time the one that has to be “resolved” into this necessary “limitation”?</p>
      </article>


      <article class="article article-cancer text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Cancer Compatibility</h2>
          <p class="article__text text-justify">We can assume that Aquarius is too mental and Cancer is too sensitive; we could believe that Aquarius is a born adventurer and Cancer is a true, old-fashioned family man/woman, thus drawing a line between unpredictable freedom and open, often blind conservatism. It’s a relationship that, in a way, can be the expression of the famous generation gap. It’s not always like that. Incompatible signs such as Aquarius and Cancer look for each other when time has come to take the final step towards their spiritual evolution. 
</p>
          <p class="article__text text-justify">Cancer needs to learn to be free and not to depend on anyone, and Aquarius needs to learn to accept love, to let him/herself be overwhelmed, invaded by Cancer’s feelings. 
</p>
      </article>


      <article class="article article-virgo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Virgo Compatibility</h2>
          <p class="article__text text-justify">Yes, a fascination that joins Virgo’s unconditioned commitment and Aquarius’ wild enthusiasm to save the world, which makes them reach different dimensions of life but complementarily, indeed: Aquarius is oriented towards the subtle worlds, looking through the memory of the Universe with his/her imagination, and Virgo towards the material and sensible aspects, revealing the microcosmos that comes into contact with this Universe at the terrestrial level.
</p>
          <p class="article__text text-justify">Aquarius sacrifices his/her heart for the sake of absolute knowledge, Virgo sacrifices his/her personal life to aunts, uncles, old people and all those that have no support. Aquarius sees the woods and Virgo sees only the trees. What other couple experiences such an inner burning, profoundly purifying for the divine spirit within us? With a Virgo native that purifies the spirit through the body and with an Aquarius that purifies the spirit through the mind, so that divine love manifests plenarily through the human being’s heart!?
</p>
      </article>


      <article class="article article-capricorn text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Capricorn Compatibility</h2>
          <p class="article__text text-justify">Interesting combination! But, statistically, it’s quite rare because these two “old” signs don’t seem to need each other too often. Still, if they meet and manage to synchronize their value systems, they can build one of the most spectacular couples. 
</p>
          <p class="article__text text-justify">Capricorn will patiently temper Aquarius’ lack of measure and Aquarius will always suggest new horizons to Capricorn. It is, in fact, the couple that can abolish the generation gap from history, if the Saturnine Capricorn knows what to keep of what is old and if Aquarius knows what to choose of the new values to add to the existing ones. The combination between tradition and innovation can truly be saving sometimes. It’s understandable why, from the winter signs on, love comprises the great problems of humanity. These signs didn’t join the terrestrial existence for themselves, but for the others.
</p>
      </article>


      <article class="article article-pisces text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Pisces Compatibility</h2>
          <p class="article__text text-justify">Yes, this is a couple of free sufferance or of the human kind’s salvation - meaning that each of them has his/her own duality. The Pisces native can choose the direction in this couple if (s)he is allowed to, and Aquarius can decide whether this direction is the necessary one, if (s)he is taken seriously.
</p>
          <p class="article__text text-justify">In normal or poor social conditions, the Aquarius-Pisces couple can have a peaceful marriage with the subsequent implications. But, at turning points for the humanity, this couple can prove often incredible qualities. And this is exactly because one dreams as much as (s)he can (Aquarius) and the other sacrifices him/herself willingly (Pisces), because they both know, deep inside their heart, that they are here to save the planet. 
</p>
      </article>


      <article class="article article-taurus text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Taurus Compatibility</h2>
          <p class="article__text text-justify">Do you, by any chance, doubt it? Do you find it impossible or incredible? Do you think Taurus is too domestic and easy-going, too attached to things and desirous of a peaceful home and high living, and Aquarius too rebel and too “universal”, preoccupied with his/her astral worlds, for them to find a way to get along? If you think so, then let me tell you that you are misled by the shallow aspects of the relationship. And here’s why: In fact, both Taurus and Aquarius are fixed signs, characterized by the storing force - even if Taurus is interested in material possessions and Aquarius in intellectual ones. 
</p>
          <p class="article__text text-justify">Both Taurus and Aquarius are creators by definition - even if Taurus has a real sense of “sensible” aesthetic values while Aquarius an equally real sense of values, but of abstract ones. They both prove a high originality, each of them being a non-conformist in his/her own way, even if Taurus is often classified as conservative.</p>
      </article>


      <article class="article article-scorpio text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Aquarius-Scorpio Compatibility</h2>
          <p class="article__text text-justify">Total level difference! And a matching power between two extremes without which our life would be impossible. Aquarius seems to deny his/her terrestrial origins, and Scorpio seems to forget his/her celestial ideal; one tends to go up and the other to go down.

</p>
          <p class="article__text text-justify">It’s practically a relationship between two sun signs that most often communicate on completely different frequencies. A combination usually thought of as impossible or very difficult, as Aquarius isn’t very patient with Scorpio’s emotional, introvert and jealous nature, while Scorpio will hardly tolerate Aquarius’ careless independence. </p>
      </article>
{% end %}

{% block horoscopecard %}
What does today hold in store for Taureans?
{% end %}

{% block famouscard %}
Did you know that Gordon Ramsay and Bill Gates are both Taureans?
{% end %}

{% block famouscardbutton %}
TAUREANS
{% end %}

{% block explorecard %}
Taureans are very passionate when it comes to feelings.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class="active btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}