{% extends compatibility.html %}

{% block zodiac %}
cancer
{% end %}


{% block menuzodiacname %}
Cancerians
{% end %}

{% block aboutname %}
Cancerians
{% end %}

{% block compatibilitymenu %}

  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}
      <article class="article article-taurus text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Cancer-Taurus Compatibility</h2>
          <p class="article__text text-justify">Taurus is stabile (as an Earth sign), sensual and very faithful: your luck, you jealous Cancer! Taurus has the same need you have for a stabile home, emotional and financial security. Quite often, when you struggle in an ocean of contradictory and confused feelings, a Taurus will calm you down and bring you to a lake with still water.

</p>
          <p class="article__text text-justify">Both Cancer and Taurus are acquainted to finances: you are very lucky, according to tradition, and Taurus knows what to invest in. In addition, neither of you is very wasteful so there won’t be problems of this kind in this relationship.
</p>
      </article>


      <article class="article article-virgo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Cancer-Virgo Compatibility</h2>
          <p class="article__text text-justify">Virgo communicates very well, as it is governed by Mercury that symbolizes Hermes, the God with wings at his ankles, the courier of ancient Gods. Virgo is even-minded and has a special refinement in analyzing details, so (s)he will bring you back to Earth (this is his/her element) and at the same time, (s)he will bring some stability in your emotional life.

</p>
          <p class="article__text text-justify">Virgo is rather shy and astrologers like saying that (s)he is also a little boring. This is false, though. Virgo likes surprising you with torrents of passion.

</p>
      </article>


      <article class="article article-scorpio text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Cancer-Scorpio Compatibility</h2>
          <p class="article__text text-justify">Lunatic Water and waterfall in the middle of the world? Yes, that’s what you’ve been looking for such a long time and if you reached this page, you have probably found it: Scorpio is one of the best combinations for a Cancer.


</p>
          <p class="article__text text-justify">Why is that? Because you are both Water signs? That, too. But, besides that, because any Cancer (consciously or not) looks for domination and leading spirit in the other one. Because Scorpio is as jealous as you are, maybe even more jealous. Because Scorpio is extremely passionate and understands the torrent of feelings in your soul better than anyone.
</p>
      </article>


      <article class="article article-pisces text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Cancer-Pisces Compatibility</h2>
          <p class="article__text text-justify">Yes! It works, and it works very well. Feelings are highly considered by both natives, both Cancer and Pisces live in a world where heart rules, so that you’ll understand each other almost intuitively.
</p>
          <p class="article__text text-justify">Pisces likes being taken care of, spoiled, taught and so on. You like doing that. So, you complete each other perfectly. You’ll find in this native understanding and even total approval of your feelings, because Pisces understands much more than it is told and can read both gestures and hearts (it’s the sign most inclined towards abnormal and paranormal activities). As Pisces him/herself is a native with strong feelings, (s)he’ll understand and stabilize yours.
</p>
      </article>


      <article class="article article-cancer text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Cancer-Cancer Compatibility</h2>
          <p class="article__text text-justify">Two hopeless romantics can have one of the strongest and most beautiful relationships on this Earth. They create an entire world of feelings and passions. In addition, you have big chances to be happily married because you both have an almost intuitive way of understanding each other. You both have the necessary patience, tenacity, as well as spiritual capacity to make this relationship beautiful.
</p>
          <p class="article__text text-justify">You need intense feelings, loud-spoken affection, warmth and attention from your partner - and not only at the beginning of the relationship. Well, your Crab understands all this and (s)he’ll be there for you to offer you everything you need. Home and family are very important to both of you: you should get along perfectly, even without words.
</p>
      </article>


      <article class="article article-capricorn text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Cancer-Capricorn Compatibility</h2>
          <p class="article__text text-justify">Interesting combination... but also dangerous: Capricorn is Cancer’s opposite sign in the zodiac, 180 degrees away.

</p>
          <p class="article__text text-justify">Theoretically, you should match. But there is an “opposition” between your signs. Therefore, I’m going to tell you the strong and the weak points and let you decide. There are equal chances to succeed, as well as to fail.
</p>
      </article>


      <article class="article article-gemini text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Cancer-Gemini Compatibility</h2>
          <p class="article__text text-justify">A domestic Cancer, and a Gemini who can’t live without a phone, without paying visits to friends and relatives. It’s hard to make a union of this kind work! What you, dear Cancer, are looking for - peace, safety and a comfortable home - is exactly what scares a Gemini, consciously or not: to him/her, change and the place where it happens are the most important things it is worth living for! Not to mention Cancer’s traditional moods, which Gemini can’t stand...
</p>
          <p class="article__text text-justify">Moreover, Gemini moves around so much and is so active, that (s)he doesn’t have much time to spend at home, and this is exactly the place you enjoy the most.
</p>
      </article>


      <article class="article article-leo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Cancer-Leo Compatibility</h2>
          <p class="article__text text-justify">Sometimes things work between you two, sometimes they don’t. However, one way or another, good moments tend to turn into bad moments eventually.
</p>
          <p class="article__text text-justify">But there are also good sides and, if you, dear Cancer, are willing to sacrifice much of your personality in order to be with the shining Leo (governed by the Sun), maybe you’ll even keep the relationship going for a while. The Moon reflects the light of the Sun, so if you want and know how to reflect Leo’s remarkable personality, his/her great heart will forget about your permanent moods.
</p>
      </article>


      <article class="article article-sagittarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Cancer-Sagittarius Compatibility</h2>
          <p class="article__text text-justify">Full stop. Meaning: don’t even think about it! Not only because Sagittarius is a very wandering Fire, but it is also the sign which brings most single people (the sign of philosophers), and your sensitive, emotional and intuitive personality cannot hold him/her still.
</p>
          <p class="article__text text-justify">Whatever you do, you won’t manage to make a Sagittarius more of a family man/woman. Sagittarius always seems on the verge of leaving again to discover something that will keep him/her away from that “home” that you love so much. Moreover, Sagittarius is the sign of flirtation par excellence, and with your born jealousy... I don’t think you two belong next to each other.
</p>
      </article>


      <article class="article article-aquarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Cancer-Aquarius Compatibility</h2>
          <p class="article__text text-justify">You are so different that only with a great effort (especially from you, dear Cancer!) you’ll make the relationship work. Aquarius is an Air sign, and you are a Water sign: two elements that don’t stay together too much and they never mix.
</p>
          <p class="article__text text-justify">Aquarius is a sort of “science man” of the zodiac: (s)he is inclined towards research and technology, and (s)he is guided by reason in everything (s)he does: love itself is rational to an Aquarius. And as you are guided first of all by intuition and feelings, your reactions can be very different in similar situations. As a Water sign, you have a certain instinct in relating to people, an instinct that Aquarius doesn’t have and doesn’t understand. It’s not something that can be felt, seen, smelled, analyzed.
</p>
      </article>


      <article class="article article-aries text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Cancer-Aries Compatibility</h2>
          <p class="article__text text-justify">Water and Fire, two opposite poles. I don’t know where you found your Aries, but it will be very difficult (if not impossible) to stand the zodiac’s child. Theoretically, by all the rules of art, I should say “don’t even think about it”. Why? Let’s take them in turns.
</p>
          <p class="article__text text-justify">It was probably love at first sight because Cancer has the tendency to be protective, and Aries certainly needs compassion, understanding and much, much love. You’ll soon discover, though, that Aries likes seeing and doing things very clearly and exactly. The depths you can see, the shades and delicacy of details, especially as regards sentimental life, don’t really go with Aries’ style.
</p>
      </article>


      <article class="article article-libra text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Cancer-Libra Compatibility</h2>
          <p class="article__text text-justify">Fortunately, this Air is balanced and understanding, otherwise it would have been “no”, three times “no”. Anyway, it’s not a combination to make you happy. But it is worth trying. After all, Libra is so charming.

</p>
          <p class="article__text text-justify">What would be your problem, dear Cancer? The fact that you are an insecure native par excellence and also often scared, unlike Libra, who’s an apparently distant, free, independent native and spends more time socializing than (s)he spends at home? You don’t seem to be the kind...
</p>
      </article>
{% end %}

{% block horoscopecard %}
What does today hold in store for Cancerian?
{% end %}

{% block famouscard %}
Did you know that Selena Gomez and Jaden Smith are both Cancerians?
{% end %}

{% block famouscardbutton %}
CANCERIANS
{% end %}

{% block explorecard %}
Cancerians are known to be very unpredictable, indecisive, temperamental, and insecure.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="active btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}