{% extends compatibility.html %}

{% block zodiac %}
aries
{% end %}

{% block menuzodiacname %}
Arians
{% end %}

{% block aboutname %}
Arians
{% end %}


{% block compatibilitymenu %}


  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}

      <article class="article article-aries text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aries-Aries Compatibility</h2>
          <p class="article__text text-justify">Aries people have deep-rooted opinions and are very stubborn. Your purpose in the zodiac is to represent the force of life, the energy. “I” is the most important word in the vocabulary
of an Aries. Therefore, the combination between two Aries people could become one
of those spicy things - in plain English, a troubled love.</p>
          <p class="article__text text-justify">If each of you succeeds in going beyond his/her stubbornness and desire to be the one
who’s always right, and if you give up the inevitable fights for power, you could have a beautiful relation, active, imaginative and resourceful.</p>
      </article>


      <article class="article article-taurus text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aries-Taurus Compatibility</h2>
          <p class="article__text text-justify">Have you fallen in love with a Taurus? Do you happen to like stability? Taurus is very different
from you: (s)he keeps his/her feet on the ground, (s)he likes safety, risks scare him/
her to death, change is an earthquake to him/her. Not to say that Taurus does not have
your strong nerves and this could lead to many conflicts!</p>
          <p class="article__text text-justify">The main disadvantage for an Aries in getting involved with a Taurus lies in the fact that
(s)he is really, really slow in everything (s)he does. Not in the bad meaning of the word,
only Taurus is more prudent, more difficult to start, more sensual when making love, or
slower in making decisions. I don’t have to tell you how much this thing will annoy you,
because Aries lives and moves at top speed. I think you are already guessing.</p>
      </article>


      <article class="article article-gemini text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aries-Gemini Compatibility</h2>
          <p class="article__text text-justify">Gemini people have enough charm to share it with other people and they are so captivating
that you could be hypnotized. You both like thrilling life and you both get bored easily.
You both have a dexterity one could envy and you are both agile. For both Aries and Gemini
communication is so important that you will always have a lot of friends and activities,
a tireless and forever exciting life. You do everything together, from having ardent philosophical
debates to drawing up detailed layouts, and you couldn’t complete each other better.
You might be in lack of money, rest or whatever, but you will never be short of ideas.</p>
          <p class="article__text text-justify">Gemini will make you known like no other, because nobody is better than Gemini is at
spreading the word. Fortunately for you, Gemini people are flexible so (s)he does not need
leadership (the thing that gnaws at your heart) and will happily take the road you chose.</p>
      </article>


      <article class="article article-cancer text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aries-Cancer Compatibility</h2>
          <p class="article__text text-justify">When you try to explain to him/her that you want to do something great for the human
kind, money or friends, (s)he will just ask you why you can’t have a regular job like all
the others, be someone’s subordinate. Because an Aries, even when (s)he is employed in a
company, will still cook up secret plans to become independent: you are the world’s enterprisers.
You will probably try anything to reach this goal, as if you escaped from a prison.
And Cancer will ask you why you don’t spend more time at home! That’s nerve, isn’t it?
Cancer doesn’t have your unlimited ambition so (s)he will accept the Aries’s explanations,
but still, (s)he will never understand how work can be more important than family.</p>
          <p class="article__text text-justify">If you succeed in getting over it and over the Cancer’s caprices (it’s a very changing and
moody sun sign, both as far as men and women are concerned), the Crab will offer you a
dream-like family life, because here (s)he feels fulfilled.</p>
      </article>


      <article class="article article-leo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aries-Leo Compatibility</h2>
          <p class="article__text text-justify">The Lion has a great heart that will fascinate you, and an inclination towards theatricalism
that will always make you laugh (what Aries wouldn’t yield to this strong argument?)
You are both Fire signs, so you will always discover new things together, you will create or
initiate projects. You want the same things, so you will get them much easier together. Leo
is a very romantic sign - (s)he symbolizes the celestial man’s heart - so your Leo will have
many, many adorable surprises for you.</p>
          <p class="article__text text-justify">Get ready to go to the most famous restaurants because Leo likes going out, showing him/
herself, frequenting refined and elegant places. Leo also likes being dressed-up and manages
to look good no matter what (s)he is wearing, so you’d better put on your best clothes
and give up jeans and T-shirts, dear Aries.</p>
      </article>


      <article class="article article-virgo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aries-Virgo Compatibility</h2>
          <p class="article__text text-justify">Virgo is meticulous, hardworking (like you), but you have very different ways of expressing
yourselves and perceive the world. Virgo gets up in the morning and knows exactly
what (s)he will be doing at 9:15 am or 3:30 pm, and if (s)he doesn’t finish his/her work, (s)
he is just like a toy with a key, (s)he keeps spinning until (s)he gets where (s)he wants to.
Virgo doesn’t need a boss to push him/her from behind: his/her ambition is enough.</p>
          <p class="article__text text-justify">There is no such thing like a Virgo not helping his/her friends or not keeping his/her
word. One could say that this is the purpose of Virgo’s life. You, dear Aries, have the overall
view, more courage and you are better at relations and connections. Virgo takes great
pleasure in details and organization. Next to a Virgo, if you succeed in changing that much
so that your relationship works, you will become stronger and you will have more chances
for your dreams to come true (Fire initiates projects, but Earth maintains them).</p>
      </article>


      <article class="article article-libra text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aries-Libra Compatibility</h2>
          <p class="article__text text-justify">A born diplomat, loving beauty and showing the gentleness characteristic of the love symbolized
by his/her tutorial planet (Venus), Libra is good at making long-term plans and contracts. To an
Aries, this is an essential quality, because the native of this sign is a very good initiator, but not
very efficient in carrying out plans.</p>
          <p class="article__text text-justify">A very communicative Air sign, Libra will always encourage you with new ideas and will show
you new points of view to interpret things from. Libra likes team work - Libra is, in fact, the sign
of marriage - so Libra will always look for a middle way, for a right solution to problems - that’s
an warning for the Aries people that are bossy and tyrannical.</p>
      </article>


      <article class="article article-scorpio text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Aries-Scorpio Compatibility</h2>
          <p class="article__text text-justify">Fire and Water. You are both under the sign of Mars, the god
of war, but you have different ways of expressing yourselves.</p>
          <p class="article__text text-justify">Fortunately for the Aries in love with a Scorpio, the latter has at least some common qualities
with the first one: Sscorpio is loud, passionate and ardent. This is really a relationship
full of action!</p>
      </article>


      <article class="article article-sagittarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aries-Sagittarius Compatibility</h2>
          <p class="article__text text-justify">Any Aries’s motto is Adventure. It’s not a wonder that you have found your Sagittarius! No
matter if you climb mountains together, learn something new or start a business, nothing
will ever be boring next to a Sagittarius!</p>
          <p class="article__text text-justify">The Aries-Sagittarius combination is very good, because you are both Fire signs and you
have so many ideas that you could recreate the world from the beginning. You are both
curious about anything that surrounds you.</p>
      </article>


      <article class="article article-capricorn text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Aries-Capricorn Compatibility</h2>
          <p class="article__text text-justify">Fire and Earth. It will take many compromises and
much patience for you to stay together. Your opinions and lifestyles have absolutely nothing
in common.</p>
          <p class="article__text text-justify">You, dear Aries, cannot resist in a structured environment for long, be it a relationship or
a job. As a genuine Fire sign, you need to explore territories and you always venture where
the ordinary man does not even dare to look, because the essence of your sign is the primal
force of life.</p>
      </article>


      <article class="article article-aquarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Aries-Aquarius Compatibility</h2>
          <p class="article__text text-justify">Indeed, next to an Aquarius, your life will be what you have always wanted: a great adventure.
Aquarius has a mysterious and unearthly Air, and, at the same time, a sharp, analytical
mind. I bet you fell in love at first sight with such a combination of qualities an Aries
can appreciate so well!</p>
          <p class="article__text text-justify">Deep down, you are a rebel, and so is Aquarius. You can do everything you want together
- a better world, a good business, a happy family. Aquarius’s role on Earth is to see the
flaws of the society, to make a better world - yes, Aquarius really believes that, and (s)he
will always try to help many people.</p>
      </article>


      <article class="article article-pisces text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Aries-Pisces Compatibility</h2>
          <p class="article__text text-justify">Fire and Water. After you blow off steam for a while, dear Aries,
you will run away exhausted, because Water has a special way of overflowing continually...</p>
          <p class="article__text text-justify">The native Pisces likes having a strong partner: that’s good, you have it. Pisces doesn’t want
to be in control: another good point for you. Pisces doesn’t like making decisions: you’d
think (s)he is the right one for you. BUT...</p>
      </article>
{% end %}

{% block horoscopecard %}
What does today hold in store for Arian?
{% end %}

{% block famouscard %}
Did you know that Lady Gaga and Emma Watson are both Arians?
{% end %}

{% block famouscardbutton %}
ARIANS
{% end %}


{% block explorecard %}
Arians are very enterprising and daring.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="active btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}