{% extends compatibility.html %}



{% block zodiac %}
aquarius
{% end %}

{% block menuzodiacname %}
aquarius
{% end %}

{% block aboutname %}
aquariuses
{% end %}

{% block compatibilitymenu %}

  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}
<div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">scorpio-cancer compatibility</h2>
          <p class="article__text text-justify">The Scorpio-born are extremely mysterious individuals. They have strong will power and possess the capability to turn the tables around, whichever way they desire. Nonetheless, they have extremely distinct outer appearance. Their sound, isolated inner worlds are frequently storming with perpetual force. Most Scorpio natives are questioning and possessive, and they can’t digest treachery or the slightest hint of no, in their stride. The Scorpio sting is widely known, and even the most diplomatic Scorpio will fall prey to one of his/ her extreme, vindictive moods. Nevertheless, the Scorpio owns a magnetic charm that leaves many an admirer smitten. In love, Scorpio makes for a loving, faithful yet deeply possessive or jealous partners.</p>
          <p class="article__text text-justify">Nonetheless, they have extremely distinct outer appearance. Their sound, isolated inner worlds are frequently storming with perpetual force. Most Scorpio natives are questioning and possessive, and they can’t digest treachery or the slightest hint of no, in their stride. The Scorpio sting is widely known, and even the most diplomatic Scorpio will fall prey to one of his/ her extreme, vindictive moods. Nevertheless, the Scorpio owns a magnetic charm that leaves many an admirer smitten. In love, Scorpio makes for a loving, faithful yet deeply possessive or jealous partners.</p>
{% end %}

{% block horoscopecard %}
What does today hold in store for Taureans?
{% end %}

{% block famouscard %}
Did you know that Gordon Ramsay and Bill Gates are both Taureans?
{% end %}

{% block famouscardbutton %}
TAUREANS
{% end %}

{% block explorecard %}
Taureans are very passionate when it comes to feelings.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class="active btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}