{% extends compatibility.html %}

{% block zodiac %}
scorpio
{% end %}

{% block menuzodiacname %}
Scorpios
{% end %}

{% block aboutname %}
Scorpios
{% end %}

{% block compatibilitymenu %}

  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}
    <article class="article article-cancer text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Cancer Compatibility</h2>
          <p class="article__text text-justify">Water and Water. Sometimes it works so well you can hardly believe it. But sometimes, nothing good happens. Theoretically, stars say yes, yes, and yes again. Practically, not all Crabs are alike. As for the Scorpios...</p>
          <p class="article__text text-justify">Cancer is, indeed, in most cases, the ideal partner for Scorpio. Cancer’s feelings are strong, just like yours, his/her need to be understood equals yours, and the spiritual warmth (s)he has to offer can make you think you’ve reached Heaven. On the other hand, your strong and confident personality offers this unstable and insecure native precisely the safety and support Cancer needs to be him/herself. A Cancer can be extremely affective, devoted and generous when (s)he feels safe, when his/her home is protected and (s)he is surrounded by your love and passion.</p>
      </article>


      <article class="article article-virgo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Virgo Compatibility</h2>
          <p class="article__text text-justify">Scorpio charms Virgo, incites him/her and makes him/her curious: you are the one stirring this Mercury sign, revealing secret theories to him/her. And with Virgo’s well-known passion for intellectual activities, the attraction will not only be immediate, but also lasting.</p>
          <p class="article__text text-justify">Above all, remember that Virgo is NOT mean or malicious. This is just the way (s)he is. A relationship with Virgo will be full of surprises for you. Both pleasant, because Virgo is able to understand you and offer you the stability and safety you need, and unpleasant, because Virgo is not capable of reaching the emotional, passionate depths where you live your love life. And once again, pay attention to jealousy outbursts, both of you, because it’s a crucial aspect of your relationship although it may not seem like that at the beginning. Somebody has to give in, could you do it, this time?</p>
      </article>


      <article class="article article-capricorn text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Capricorn Compatibility</h2>
          <p class="article__text text-justify">Scorpio’s defects, jealousy and possessiveness, are seen as qualities by Capricorn, who is often insecure and introvert. To him, these defects show love and make him/her feel safe (a highly appreciated feeling by Earth signs). On the other hand, Capricorn’s realism will make you feel confident, too: the Earth is the only one that can stop Water (emotions), and the latter, in its turn, penetrates the Earth as often as possible.</p>
          <p class="article__text text-justify">Capricorn is well-known as a hardworking native, interested in his/her career and desirous of climbing the social ladder. Your goals meet at this point because you are also ambitious and feel the need to dedicate yourself to an activity.</p>
      </article>


      <article class="article article-pisces text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Pisces Compatibility</h2>
          <p class="article__text text-justify">Water and Water? I guess you can hear the slogan “the perfect partner”. Especially on the Internet, almost all horoscopes say it, and, although it is very possible that you have a wonderful relationship, it may very well be mediocre to you.
</p>
          <p class="article__text text-justify">Don’t misunderstand me: from the point of view of a Pisces that has found a Scorpio to stand him/her, the relationship is excellent. But don’t believe all those texts that tell you only a Cancer or a Pisces can make you happy. Indeed, the combinations between Water signs are most appreciated, but reality is often overlooked. That’s why I’ll highlight both strong points (which are plenty) and some warnings, useful especially to Scorpio.
</p>
      </article>


      <article class="article article-taurus text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Taurus Compatibility</h2>
          <p class="article__text text-justify">Taurus is an Earth native, which means (s)he can offer you a certain degree of emotional stability. Astrology suggests that the combination between Water and Earth is very good (the two elements result in mud, which means fertility from the symbolical point of view). Very devoted and loyal, Taurus won’t give you reasons to be jealous.

</p>
          <p class="article__text text-justify">Neither of you is the kind to gather life’s roses, like Air signs for example, so you’ll probably have a good time in private rather than in crowded places. Taurus likes having a comfortable home, where (s)he generally spends much time, and Scorpio is “idle” enough as to prefer unwinding at home, in front of the TV, and not by going to restaurants, clubs and so on.
</p>
      </article>


      <article class="article article-scorpio text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Scorpio Compatibility</h2>
          <p class="article__text text-justify">If you were attracted to his/her mysterious aura, the intense vibration of his/her feelings, the strange impression (s)he leaves on people, that’s the way others see you, too. If (s)he doesn’t talk too much, you try to do it, because (s)he is in fact as introvert and taciturn as you are. But beneath this social mask, there is a volcano, as you probably know from your own experience.</p>
          <p class="article__text text-justify">Now, between you and me, you are both wire-pullers every now and then. Everybody says it, although not everybody understands Scorpios’ reasons. Each of you will try to monitor the other one and hide as many details as possible about him/herself. Paying attention to the time the other one comes back will be in the pipeline in the first period you spend together.</p>
      </article>


      <article class="article article-aries text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Aries Compatibility</h2>
          <p class="article__text text-justify">It is worth mentioning that you are excellent business partners, even if you sometimes collide, emotionally speaking. Aries is the initiator, the one inspiring great deeds, coming up with bright ideas. It is the practice that gives Aries a hard time. And this is where Scorpio comes along, bringing sustainability.
</p>
          <p class="article__text text-justify">Aries is the sign that governs the brain so (s)he is very open-minded to new ideas and (s)he knows how to show credit to the others, so (s)he’ll listen to your ideas and suggestions very carefully, trying to do something with them.
</p>
      </article>


      <article class="article article-gemini text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Gemini Compatibility</h2>
          <p class="article__text text-justify">Water and Air? It’s beautiful for a second, as long as the champagne brims over the glasses. Then, the Air gets out of the Water and the combination destabilizes. A relationship that lasts no more than a bottle of sparkling water left without a cap.
</p>
          <p class="article__text text-justify">Let’s assume you are not with a Gemini because (s)he looks good, but because there is something else you like about this native. Because in your relationship the physical attraction is not based on anything sensible. Your Gemini has a sharp, quick mind, and that’s what probably fascinated you. The problem, as you’ll see, is that Gemini can’t really shut up or stop.</p>
      </article>


      <article class="article article-libra text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Libra Compatibility</h2>
          <p class="article__text text-justify">Water and Air. A sparkling, meaning a good combination, but also blustering, meaning dangerous. The governors of the two sun signs are Mars and Venus: war and love.</p>
          <p class="article__text text-justify">The mysterious Scorpio, with his/her “you’ll never guess what I keep inside myself” attitude, conquers anybody easily. And Libra likes meeting new and interesting people, establishing connections all the time. But you, dear Scorpio, take everything too seriously, and Libra is too inclined towards flirting to be able to get used to such a sensitive and possessive partner like Scorpio. However, it can be a beautiful relationship if you make some efforts (you have to work on the possessiveness that characterizes any Scorpio).
</p>
      </article>


      <article class="article article-sagittarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Sagittarius Compatibility</h2>
          <p class="article__text text-justify">Ok, stars say that it is generally no, but maybe it is yes. So, what could it be like? Let’s figure it out first: as a Water sign, you need a partner that understands your emotions and answers back with the same intensity. That’s what Sagittarius does. Further, as a Water sign, you need to be loved demonstratively, permanently and each moment. Well, this is the point Sagittarius stumbles at, no matter what a good hunter (s)he is. Because Sagittarius knows how to love and be devoted, as only Fire signs know.
</p>
          <p class="article__text text-justify">Sagittarius is loyal so (s)he cannot stir your jealousy. But... (s)he doesn’t love demonstratively, as you wish. Meaning that (s)he doesn’t say “I love you / you and only you / you and I until the end” every day, (s)he doesn’t always show it.
</p>
      </article>


      <article class="article article-leo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Leo Compatibility</h2>
          <p class="article__text text-justify">
In fact, there are as many pro arguments as there are against. The initial attraction, just like between any complementary elements, is very big. Especially the physical one. The intensity of feelings and the sexual relationship are two advantages that could almost help you have a happy relationship.</p>
          <p class="article__text text-justify">But both you and Leo strongly need to dominate, to control, to be the boss. And in this competition, Leo is at an advantage because (s)he roars louder (this is not a metaphor, Leo is, indeed, a master of speech, and when (s)he gets upset, (s)he becomes frightening). If you want an example, take a look at the front page of the newspapers issued several years ago and try to observe the relationship between the Great Lion Bill and the Scorpio Hillary Clinton. Neither of them gives up, neither of them yields an inch.</p>
      </article>


      <article class="article article-aquarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Scorpio-Aquarius Compatibility</h2>
          <p class="article__text text-justify">You are Water while Aquarius is an Air sign. And, no matter how understanding Aquarius seems to be, for him/her a sentimental relationship is not by far a volcano of passion, as it is for you. In fact, Aquarius takes any relationship as a form of enlarging his/her knowledge, of widening his/her horizon, for (s)he’s a very detached and cerebral sign. And this is precisely the thing that will leave you discontent, because any time Aquarius goes out or to friends, you’ll be the one staying at home, and (s)he won’t even notice that you are upset when (s)he gets back.</p>
          <p class="article__text text-justify">Aquarius’ need for independence is so big that (s)he won’t even understand your possessiveness in love, let alone accept it and obey it (a verb that (s)he really hates). Aquarius has too many errands to run to stay at home and you like knowing where your partner is.</p>
      </article>
{% end %}

{% block horoscopecard %}
What does today hold in store for Scorpios?
{% end %}

{% block famouscard %}
Did you know that Drake and Ryan Gosling are both Scorpios?
{% end %}

{% block famouscardbutton %}
SCORPIOS
{% end %}

{% block explorecard %}
Scorpios have strong will power and possess the capability to turn the tables around, whichever way they desire.
{% end %}

{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="active btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}