{% extends base.html %}

{% block body %}

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {% block navbar %}{% end %}

  <div class="background-wrapper">
    <div class="container" style="max-width: 1000px;">
      <ul class="tabs">
        <li class="tabs__item"><a href="/{% block zodiac %}{% end %}/explore" class="tabs__link ">Overview</a></li>
        <li class="tabs__item"><a href="/{% block zodiac %}{% end %}/compatibility" class="tabs__link tabs__link--active">Compatibility</a></li>
        <li class="tabs__item"><a href="/{% block zodiac %}{% end %}/famous"  class="tabs__link">Famous {% block menuzodiacname %}{% end %}</a></li>
      </ul>
    </div>
  </div>

  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

  <div class="container container-xlg extra-padding" style="max-width: 1000px;">
    <div class="row row-xlg">
      <div class="">
        <article class="article text article--single">
          {% block compatibilitytext %}{% end %} 
        </article>
      </div>
    </div>
  </div>

  <footer class="background-wrapper extra-padding">
    <div class="container text container-lg">
      <div class="row row-lg">
        <div class="col-md-4 col-xs-12">
          <div class="card card--blue">
            <div class="card__icon lightbulb"></div>
            <h2 class="card__header">{% block explorecard %}{% end %} </h2>
            <div class="card__action">
              <a href="/{% block zodiac %}{% end %}/explore" class="btn-outline card__link">EXPLORE MORE</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card card--yellow">
            <div class="card__icon star"></div>
            <h2 class="card__header">{% block famouscard %}{% end %}</h2>
            <div class="card__action">
              <a href="/{% block zodiac %}{% end %}/famous" class="btn-outline card__link">VIEW FAMOUS {% block famouscardbutton %}{% end %}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card card--orange">
            <div class="card__icon planet"></div>
            <h2 class="card__header">{% block horoscopecard %}{% end %}</h2>
            <div class="card__action">
              <a href="/{% block zodiac %}{% end %}" class="btn-outline card__link">VIEW HOROSCROPE</a>
            </div>
          </div>
        </div>
      </div>
      <p class="created_by">Created by Ted, Lu, Zoe and Ash</p>
    </div>
  </footer>
{% end %}
