{% extends compatibility.html %}

{% block zodiac %}
pisces
{% end %}

{% block menuzodiacname %}
pisces
{% end %}

{% block aboutname %}
pisces
{% end %}

{% block compatibilitymenu %}


  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}
      <article class="article article-taurus text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Pisces-Taurus Compatibility</h2>
          <p class="article__text text-justify">Water and Earth, but what a special Earth! Even the stars smile at this combination: it is worth trying! Fortunately for you, Taurus is very sensual, reasonable, practical, and, in addition, sex is art to him/her. You’ll fascinate Taurus rather than vice-versa. (S)He likes your visionary talent, your refined spirit and unselfishness.

</p>
          <p class="article__text text-justify">One little problem, though: Taurus’ materialism is considerable, so you’ll have to get used to it. But it’s worth it because you’ll get much attention in return (a Taurus will always try to offer as much as (s)he receives). Taurus really likes saving money, keeping objects and making a fortune. Pisces thinks these are earthly, superficial matters, and doesn’t get it why (s)he is supposed to be so concerned over money! Taurus does it instinctively, but it’s a good thing, because somebody has to bring money home after all.
</p>
      </article>


      <article class="article article-cancer text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Pisces-Cancer Compatibility</h2>
          <p class="article__text text-justify">Water and Water, a mutable sign and a fixed sign... All stars smile when a Pisces meets a Cancer. The most important need a Cancer has is having a home and a family: that’s where (s)he finds his/her peace, that’s where (s)he is happy and wants to be when the day ends. And these are precisely the things a Pisces can offer him/her - gracefully, delicately and reasonably.

</p>
          <p class="article__text text-justify">As Pisces and Cancer are two Water signs, you both feel emotions in a certain way, more deeply, more intuitively and spiritually. Pisces’ need to create and express will be fulfilled in a relationship with a sentimental, romantic and dreamy Crab.Together, you can create a special paradise, far from the unbound world, because fast paces exhaust both of you very soon.</p>
      </article>


      <article class="article article-scorpio text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Pisces-Scorpio Compatibility</h2>
          <p class="article__text text-justify">Have you found him/her? Perfect, don’t ever let him/her go! If there are soul mates, then Scorpio is Pisces’ pair! Scorpio will understand all your feelings and emotions that nobody understood. Just like you, Scorpio truly wants to know our purpose on this Earth, whether DNA was created by God or by aliens, what the world is heading to. It’s a sign of spirituality, and Pisces appreciates that very much. Scorpio is also faithful and discreet, and Pisces appreciates it even more. And Scorpio’s love is very deep and his/her feelings very strong, just like Pisces’.
</p>
          <p class="article__text text-justify">Scorpio lives very intensely and has a mysterious personality: (s)he sometimes needs to be alone - and who can understand this better than Pisces? And, since we’re talking about living intensely, I have to warn you that Scorpio sometimes develops real obsessions (not to say paranoia...).</p>
      </article>


      <article class="article article-capricorn text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Pisces-Capricorn Compatibility</h2>
          <p class="article__text text-justify">Capricorn is a feminine sign, which means (s)he has the capacity to understand Pisces’ visions, emotions and intuitions, as well as his/her needs.Practical and determined, an intellectual sign, Capricorn will be a good life partner for a Pisces. The Capricorn native has an excellent sense of humor, which makes him/her pretty sociable. However, (s)he is generally a little too cold and realist for a Pisces. Fortunately, you can easily convince a Capricorn to change so, if you try, you’ll manage to get the best of him/her.</p>
          <p class="article__text text-justify">Capricorn is a very materialist native (and, considering the visionary nature of Pisces, there might be a small problem), but this is good, because money is of no interest to a Pisces. Pisces does not strive for money because (s)he knows that one way or another, it will come to him/her. If you ask him/her how it will happen, (s)he will just shrug his/her shoulders... (s)he knows, but (s)he can’t explain the unique and complicated intuitive processes by means of which (s)he knows.</p>
      </article>


      <article class="article article-virgo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Pisces-Virgo Compatibility</h2>
          <p class="article__text text-justify">Water and Earth, but that’s not all. Dear Pisces, pay attention to the charming Virgo: it’s your opposite sign in the zodiac, six months away. Have you ever tried to get two magnets close to one another? In my opinion, there are two possibilities regarding this combination: either Heaven or Hell on Earth. The initial attraction will be very strong. The practical and realistic Virgo will be amazed at this ethereal and imaginative creature, and Pisces, in his/her turn, will be fascinated by the accurate thinking of this methodic native.
</p>
          <p class="article__text text-justify">Virgo is very good at things that require preciseness, critical talent ((s)he has it and uses it with no reserve) and verbal ability. Pisces... is good at everything that is NOT precise. As for Pisces’ talent, it’s so well hidden under his/her unselfishness that it almost doesn’t exist.

</p>
      </article>


      <article class="article article-pisces text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Pisces-Pisces Compatibility</h2>
          <p class="article__text text-justify"> When Water meets Water... time and space disappear, everything takes place at an emotional level and the world falls somewhere behind. You are both imaginative, creative, you live your life at an intuitive level and you can understand each other without words. You both know how to give, and thus your connection will be like a beautiful dream, far from the reality that hurts these sensitive Pisces so much.
</p>
          <p class="article__text text-justify">The only problem would be a prosaic one: neither of you is preoccupied with money, savings and other things of this kind that are for ordinary people only. Neither of you likes being in charge or making important decisions... With two idealists in a home, you’ll have to find a sponsor soon, or your coming back to Earth will be rather sudden. Neither of you likes reality, and this will make you build a world of your own, difficult to grasp and even more difficult to penetrate. It would be good if at least one of you had an Earth influence somewhere in the natal chart, because at sea, without an anchor, you can’t survive for long.
</p>
      </article>


      <article class="article article-aries text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Pisces-Aries Compatibility</h2>
          <p class="article__text text-justify">Water and Fire, the last sun sign and the one beginning the cycle... It sounds nice. But not for long. Because Water and Fire steam. The initial attraction between a Pisces and an Aries can be magnetic, but a long relationship will be exhausting for both of you, even if Pisces does his/her best to adapt. How much Water does such a great Fire need to be put out? And once it is put out... Fire leaves, to catch light somewhere else.

</p>
          <p class="article__text text-justify">Aries likes taking over. No problem here, because Pisces likes being dominated (because (s)he no longer has to make decisions, such a tiresome thing to him/her). But Aries is an action man/woman, and Pisces often settles for watching only. This could lead to some problems...
</p>
      </article>


      <article class="article article-leo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Pisces-Leo Compatibility</h2>
          <p class="article__text text-justify"> Water and Fire - dynamism, excitement, creativity... but Water will soon give up staying around such a blazing Fire. Leo is a very creative sign, a man/woman of action. Pisces is creative, too, so the relationship could be very dynamic from this point of view. Leo’s generosity (who is, indeed, good as a play) will attract you from the first moment, and (s)he, in his/her turn, will be fascinated by your sensitiveness and visionary spirit.
</p>
          <p class="article__text text-justify">Don’t forget that what Leo loves most is paying court (or flirting), maybe even more than the relationship itself. Leo is a born romantic and (s)he will be very courteous.Leo is very strong, offering Pisces a support that (s)he needs so much, especially since (s)he doesn’t like being in charge. And Leo will appreciate Pisces’ “subordination” very much. If you can praise him/her honestly, permanently highlight his/her qualities, you’ll achieve very much. Leo likes for his/her many qualities to be recognized, likes being in the centre of attention and enjoys the others’ appreciation and approval. In return, your Lion will offer you the courage you need to put your ideas into practice, to take action and make a name for yourself.</p>
      </article>


      <article class="article article-libra text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Pisces-Libra Compatibility</h2>
          <p class="article__text text-justify">Water and Air? Mineral water! The rip of springs! A couple which stars could disagree with, but anything is possible with a little effort from Pisces. Born under the sign of Venus, the Libra native is often refined, sophisticated and naturally absent-minded, but with his/her feet on the ground. That’s because Libra is both a cardinal and a masculine sign. Just like Air that penetrates everything, the Libra native is very popular and you will often find him/her in elegant or public places, always surrounded by friends.
</p>
          <p class="article__text text-justify">The sensitive, introvert Pisces might have a little problem with that, because (s)he gets tired very easily when socializing, since (s)he has that rare capacity of sensing and absorbing the energies around him/her. That’s why Pisces needs periods of solitude more than any other sun sign, periods in which (s)he recovers his/her strength, meditates or day-dreams.</p>
      </article>


      <article class="article article-aquarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Pisces-Aquarius Compatibility</h2>
          <p class="article__text text-justify">Water and Air. Stars don’t really agree with it and they warn you: don’t try it, you might be sorry. Aquarius always seems absent-minded, mysterious and inapproachable. This is what will attract you at the beginning, but you will get tired of it.

</p>
          <p class="article__text text-justify">Stubborn and capricious, Aquarius will most often be incapable of assuming the responsibilities you want him to assume. (S)He is a stubborn native and, being a fixed sign, (s)he can’t change, so guess who will offer more in your relationship? Aquarius’ bright intellect and the way (s)he handles when (s)he talks about technical issues will fascinate you soon. Remember that this is a sign of progressionist people, with advanced ideas. But, in order to discover the world, to reinvent the wheel and to discover the intelligence of the person next to him/her, Aquarius needs much space to manifest, while Pisces tends to become too possessive, wishing to overwhelm his/her partner with affection. Aquarius can’t stand it.
</p>
      </article>


      <article class="article article-gemini text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Pisces-Gemini Compatibility</h2>
          <p class="article__text text-justify"> Water and Air! The zodiac’s philosopher and the adolescent. What could come out of it? ... In most cases, nothing resisting. This is certainly not a classical astrological union. Gemini needs much conversation to stimulate him/her, social contacts, variety. Pisces needs spiritual peace, a refuge where (s)he can isolate and dream and, from time to time, loneliness. Gemini wanders a lot, (s)he is always at some friend’s place or just out... And Pisces is rather possessive and (s)he will soon become jealous - or will get tired of trying to satisfy Gemini’s taste for new and glamorous. The thought alone of such frantic activities (Gemini is an Air sign, they have to be on the move all the time) terrifies Pisces.
</p>
          <p class="article__text text-justify">Everything will be all right if you, dear Pisces, manage to make your Gemini understand why you don’t want to go out on Saturday evening or to the seaside on Sunday - by explaining to him/her that you want to see a movie, that you need some time by yourself, that the peace of your home is more relaxing to you.</p>
      </article>


      <article class="article article-sagittarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Pisces-Sagittarius Compatibility</h2>
          <p class="article__text text-justify">Sagittarius is very straightforward, and Pisces is very tactful. The first thing that doesn’t work... at all. Sagittarius could often be so straightforward and exact that (s)he can even hurt you. And if you ask him/her what’s the reason for which (s)he says such things, (s)he’ll simply answer: “Because you asked me! Why did you ask me then?”. Many arguments that can end the relationship. What will attract you to a Sagittarius will probably be his/her passion for education, for learning, and his/her inclination towards philosophical discussions. But Sagittarius’ lack of diplomacy will make you frown more often than you’d like to, and finally ask yourself if you belong next to him/her...
</p>
          <p class="article__text text-justify">Sagittarius likes traveling, and you worry much, doubt very often and find it hard to make decisions. Sagittarius won’t appreciate that, because (s)he is optimistic and confident, and (s)he always hits the road with no fear and no delay... Precisely these often departures will run your energy dry, because you’ll be by yourself too much time - unless you decide to follow your Sagittarius, at all risks.
</p>
      </article>
{% end %}

{% block horoscopecard %}
What does today hold in store for Taureans?
{% end %}

{% block famouscard %}
Did you know that Gordon Ramsay and Bill Gates are both Taureans?
{% end %}

{% block famouscardbutton %}
TAUREANS
{% end %}

{% block explorecard %}
Taureans are very passionate when it comes to feelings.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="active btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}