{% extends compatibility.html %}

{% block zodiac %}
leo
{% end %}

{% block menuzodiacname %}
Leos
{% end %}

{% block aboutname %}
Leos
{% end %}

{% block compatibilitymenu %}


  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}
      <article class="article article-aries text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Leo-Aries Compatibility</h2>
          <p class="article__text text-justify">You - one of the best specimens of humanity, made to shine and be the first. The Aries - a brain full of ideas and a heart full of passion. How could you NOT get along? The superstars of the zodiac (as I like to call Aries and Leo) can only have a great relationship, meaning always passionate, exciting, active and thrilling.

</p>
          <p class="article__text text-justify">It is true that the sooner two fires catch light the more volatile future becomes. Aries has much the same flaws as you have, and when you argue, there is fire literally. Neither of you stops in the middle of things. This means enthusiasm when in action but stubbornness in discussions. As for the old problem of proofs and arguments, you are both good at finding them so it is possible (make that highly, highly probable!) that your fights last, be fierce and end up with karate lessons...
</p>
      </article>


      <article class="article article-gemini text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Leo-Gemini Compatibility</h2>
          <p class="article__text text-justify">Fire and Air. Have you put your royal claws on a Gemini? You’d better hold him/her tight then - or better, hold “them”, because Gemini has so many personalities that (s)he will surprise you every day.
</p>
          <p class="article__text text-justify">Leo and Gemini like the same things: socializing, spending, buying expensive things, having many friends. This lively Gemini will show you the joy of living and each day will be different, because Gemini likes variety and (s)he certainly knows how to have fun, after all Gemini is the adolescent of the zodiac.
</p>
      </article>


      <article class="article article-libra text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Leo-Libra Compatibility</h2>
          <p class="article__text text-justify">Leo’s creative nature goes with Libra’s artistic inclination and Libra will always be delighted at your personality, dear Leo. Libra is not good at making decisions, so (s)he won’t mind you making them, for (s)he has the tendency to dominate, but (s)he also has a subtle way of manifesting it.
</p>
          <p class="article__text text-justify">You have to be careful though, not to let much time pass before you pay attention to your Libra, for Libra is like a bottle of mineral water without a stopper: if you leave it that way for a long time, it loses all its acid and brightness. But Libra is willing to give you all the admiration you deserve and will be so delighted at your enthusiastic and ardent style of living your life, coming up with ideas and making plans, that (s)he won’t be upset if (s)he is dominated.
</p>
      </article>


      <article class="article article-sagittarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Leo-Sagittarius Compatibility</h2>
          <p class="article__text text-justify">You both have the tendency to take love as a great adventure, you are both passionate and neither of you doesn’t control him/herself for long. Sagittarius will stimulate you intellectually and emotionally. This is what a Leo needs to become faithful. Your open-mindedness regarding everything that means life and adventure goes with Sagittarius’ extrovert personality very well, and (s)he will truly appreciate your qualities.
</p>
          <p class="article__text text-justify">You both love freedom and like socializing, meeting new people, going out. This Air will set you on Fire and satisfy you from all points of view. On the other side, it is hard to make a Sagittarius be committed, but if there is someone in the zodiac who can and has all the chances to do that, it is Leo. Your leading abilities bring out the best of a Sagittarius.
</p>
      </article>


      <article class="article article-leo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Leo-Leo Compatibility</h2>
          <p class="article__text text-justify">The relations between natives of the same sun sign often have more good parts than bad parts, but the bad ones are almost impossible to get over, because both have the same flaws!
</p>
          <p class="article__text text-justify">A Leo-Leo relationship can be excellent provided that you don’t forget the Leo next to you feels the same need for compliments, admiration and adoration as you do. Therefore, you have to give as much as you expect. It shouldn’t be too difficult because just like you, (s)he is passionate and ardent, full of ideas and desirous of living life to the full.
</p>
      </article>


      <article class="article article-aquarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Leo-Aquarius Compatibility</h2>
          <p class="article__text text-justify">The physical attraction between you two is fantastic. It was probably love at first sight... But Aquarius’ tendency towards analysis and criticism will hurt your ego. Aquarius is often distant and seems not to have feelings, because (s)he lives in the Air, and to a decent Leo this resembles rejection!
</p>
          <p class="article__text text-justify">Aquarius is unconventional, understands love and relationships in a different way than you do, and doesn’t seem to get so involved. Aquarius is too often away from the throne Leo is sitting on! Aquarius gets anxious and irritated when Leo becomes dramatic and (s)he doesn’t accept you to become the centre of his/her universe.
</p>
      </article>


      <article class="article article-cancer text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Leo-Cancer Compatibility</h2>
          <p class="article__text text-justify">It’s true you are both romantic. But in so different ways! Cancer is often a very sensitive and sometimes even fragile person, that handles an ocean of contradictory feelings perfectly. To Leo, the sunlight and the accuracy of expressing yourself are equally vital.

</p>
          <p class="article__text text-justify">Every time you try to have a conversation with a Crab or make him/her express and explain his/her feelings, you’ll get the impression that Cancer doesn’t know what (s)he wants. Cancer is very vague in anything (s)he does, but especially in expressing him/herself.
</p>
      </article>


      <article class="article article-virgo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Leo-Virgo Compatibility</h2>
          <p class="article__text text-justify">
Leo is a strong creature, while Virgo is a perfectionist and a master of criticism (this will lead to most of the problems!). Of course, we could look at it in a different way: Virgo, being such a perfectionist, could think (s)he found perfection itself (that any Leo represents exceptionally). But Virgo has an often exasperating sense of detail and (s)he criticizes even when there is nothing to criticize.
</p>
          <p class="article__text text-justify">Virgo needs to be protected and asks for much from his/her partner. You demand the same amount of attention so a conflict of interest will appear very soon. Who will give in? As an Earth sign, Virgo gives in very hard. Not as hard as Leo, but you will need time to mould this clay.
</p>
      </article>


      <article class="article article-capricorn text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Leo-Capricorn Compatibility</h2>
          <p class="article__text text-justify">Fire and Earth... Hardly had it begun, when it ended. However, there are some chances... if you manage to convince this Capricorn of some significant details, such as constantly acknowledging your merits.
</p>
          <p class="article__text text-justify">The prudent and practical Capricorn, who is often a little snob and always a little conservative, will burden Leo’s romantic and enthusiastic personality. Capricorn is a reserved native so (s)he won’t tell you how much (s)he appreciates you (even if (s)he does). Neither is Capricorn very theatrical so (s)he won’t enjoy Leo’s sometimes dramatic style, and maybe (s)he doesn’t even understand you very well. Moreover, Capricorn likes dominating, or at least (s)he doesn’t allow being dominated. And that makes any sensible Loe go crazy, because Leo wants to be in charge!
</p>
      </article>


      <article class="article article-pisces text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Leo-Pisces Compatibility</h2>
          <p class="article__text text-justify">Leo is shining, ardent and dominating. Pisces is mystical and a little too dreamy. The differences between you two are too big. Leo is a Fire sign, Pisces is a Water sign, two elements that cancel each other. Pisces is sentimental (even sugary!), emotional and very romantic. Pisces doesn’t show his/her feelings, and from his/her point of view, communication can be done in many ways, but not through words.</p>
          <p class="article__text text-justify">Pisces is very dependent and (s)he needs daily care, attention and love and (s)he is often very sensitive: you can hardly say anything because Pisces believes you referred to him/her and gets upset! Considering Leo’s straightforward style, it might lead to problems.</p>
      </article>


      <article class="article article-taurus text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Leo-Taurus Compatibility</h2>
          <p class="article__text text-justify">Taurus has to have it his/her way all the time. Taurus is as stubborn as a bull and moreover, Taurus is a fixed sign, just like you, isn’t (s)he? Oh, yes, (s)he can also resist stubbornly, what did you think?
</p>
          <p class="article__text text-justify">Do you spend too much on luxurious things? Taurus is not the kind that accepts without saying anything. On the other hand, you dislike criticism more than anything. Do you have a great idea and you want to boldly try something? Leave it to Taurus, because (s)he will quench your enthusiasm in a minute with his/her caution.</p>
      </article>


      <article class="article article-scorpio text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Leo-Scorpio Compatibility</h2>
          <p class="article__text text-justify">I shouldn’t begin with it, but this is what everything starts with between a Leo and a Scorpio: sex. Fantastic sexual attraction, because their potential is enormous. Scorpio is as extravagant, as ardent and sensual as you are. If all problems could be solved in bed, you would be the most harmonious couple. Moreover, because Scorpio is 90° away from Leo in the zodiac, the chances of an attraction at first sight are even bigger. But the chances of a long-term relation decrease.
</p>
          <p class="article__text text-justify">Scorpio, even if (s)he sets you upon a lofty pedestal, will never tell you that. Not only because (s)he is mysterious, but because Scorpio thinks this is the right thing to do. Leo is most often the easiest sign to manipulate, precisely because (s)he is so sensitive when it comes to praise. And, as a Water sign that has a good intuition, Scorpio knows that and (s)he will take advantage of it.
</p>
      </article>
{% end %}

{% block horoscopecard %}
What does today hold in store for Leos?
{% end %}

{% block famouscard %}
Did you know that Barack Obama and Kylie Jenner are both Leos?
{% end %}

{% block famouscardbutton %}
LEOS
{% end %}

{% block explorecard %}
Leos are aristocratic, romantic and loyal.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="active btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}