{% extends compatibility.html %}

{% block zodiac %}
libra
{% end %}

{% block menuzodiacname %}
Libras
{% end %}

{% block aboutname %}
Libras
{% end %}


{% block compatibilitymenu %}

  <div class="carousel">
    <div class="active carousel__item card--cancer">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-cancer" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--sagittarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-sagittarius"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--capricorn">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-capricorn"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aquarius">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aquarius" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item  card--scorpio">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-scorpio" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--pisces">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-pisces" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--gemini">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-gemini"  />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--aries">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-aries" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--virgo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-virgo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--leo">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-leo" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
    <div class="carousel__item card--taurus">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-taurus" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>

    <div class="carousel__item card--libra">
      <div class="carousel__icon--badge">
        <svg width="32" height="32">
          <use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile"></use>
        </svg>
      </div>
      <svg width="100%" height="250">
        <use xlink:href="{{static_url("images/sprite.svg")}}#card-libra" />
        <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" width="40%" height="40%" class="carousel__icon" x="30%" y="30%" />
      </svg>
    </div>
  </div>

{% end %}

{% block compatibilitytext %}
      <article class="article article-gemini text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Libra-Gemini Compatibility</h2>
          <p class="article__text text-justify">This goes for an A.But you two shouldn’t forget to come down to Earth from time to time, the world needs you around. With two Air signs, of which one is a double-faced Twin (or a Twin with two personalities, as they like saying) and the other is a Libra with two scales looking for equilibrium, everything is perfect. Mind though that you find someone who spends some time at home, cleans the house and things like this. Oh, yes, and somebody to bring money.</p>
          <p class="article__text text-justify">An excellent relation: Gemini is so curious, so young in spirit and giddy that (s)he will fascinate you. Gemini will feel even more attracted to you because, in comparison to a Twin, even a Libra will seem realistic and clear-headed.</p>
      </article>


      <article class="article article-leo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Libra-Leo Compatibility</h2>
          <p class="article__text text-justify">A classic combination: Air and Fire, each of them adores the other. The Air knows how to feed the Fire so it plays as the Air dictates... In brief, there is a good chance for the relation to last and stay fresh and beautiful.</p>
          <p class="article__text text-justify">Libra - meaning you - is very good at manipulating, for Libra likes ruling, but not in an obvious way - (s)he is a “little general”. The good thing is that Leo falls for it very well. Leo likes ruling in an obvious way, but (s)he also likes being appreciated, loved, being told how wonderful (s)he is. Most often Leo is wonderful, indeed; after all, it’s a royal sign: no matter who (s)he is, next to him/her you feel like you are the king of something.</p>
      </article>


      <article class="article article-sagittarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Libra-Sagittarius Compatibility</h2>
          <p class="article__text text-justify">Sagittarius’ fantastic and exciting thirst for adventure will definitely make you fall in love with him/her at first sight. Libra’s gentleness and refinement, on the other hand, will attract this traveler, maybe even make him/her stop for a while from his/her search for discoveries.
</p>
          <p class="article__text text-justify">You both like parties and making new friends. You communicate very easily and you have much energy: this is a perfect match. Sagittarius is more enthusiastic and has greater ideas and plans, and you are the romantic and sentimental partner.</p>
      </article>


      <article class="article article-aquarius text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-heart" /></svg></div>
          <h2 class="article__header text-center">Libra-Aquarius Compatibility</h2>
          <p class="article__text text-justify">It is not quite without problems; still, a Libra-Aquarius relation could last for a very long time. You are both good listeners and you communicate with the others very well. The only difference is that Libra thinks that anybody should give and receive, and Aquarius gets lost with crazy ideas, abstract concepts and discussions.</p>
          <p class="article__text text-justify">So listen to your Aquarius and don’t forget you cannot change him; it’s like trying to mould a bubble of air. Anyway, you both like talking so you will be excellent friends. Therefore, since you are both looking for a perfect friend first and a wedding ring afterwards, it can all start from here.</p>
      </article>


      <article class="article article-aries text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Libra-Aries Compatibility</h2>
          <p class="article__text text-justify">It is sure that Libra and Aries are 180 degrees apart on the zodiac circle, which means you are opposite signs. The attraction between you two at first sight is ardent, remarkable, fatal. Generally, though, the relation encounters many difficulties later. There are more strong points than weak points, but the weak ones are essential.
</p>
          <p class="article__text text-justify">You, dear Libra, are the sign of partnership (of any kind: marriage, family, friends, associations) while Aries is the sign of initiative. This should end with “until death parts us”. But this is where the problems start, too: Aries, headed towards action, has the impression that Libra avoids reality, and when the charm of the beginning is over, you will think Aries is a little too impertinent, rude and unkind.</p>
      </article>


      <article class="article article-libra text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Libra-Libra Compatibility</h2>
          <p class="article__text text-justify">With a Libra, you will feel as if you constantly look in the mirror: you look at yourself but there is also someone weird that resembles you and is looking at you from the mirror. On the good side of things, you are both lively and in love with beauty. On the other side though, you are quite lazy when it comes to housework and way too undecided. That’s why I asked how long it took you to set the first date: it’s hard to make one Libra say “yes”, let alone two of them!</p>
          <p class="article__text text-justify">The relations between two natives of the same sun sign can be very good, but they are often a little too much alike and they end up getting bored or not standing each other’s flaws. In your case, the main problems will be who rules and where, who cleans the house and where you can learn to let your passion free. Your relationship can be successful if you clear some things from the beginning.</p>
      </article>


      <article class="article article-taurus text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Libra-Taurus Compatibility</h2>
          <p class="article__text text-justify">Of course, Taurus is a wonderful person, no doubt about it. The problem between you two is making decisions, even the most insignificant ones. Taurus’ style in this regard? (S)He just waits for somebody to come and solve the problem. Libra’s style? Much the same. And when we deal with two signs that don’t like talking honestly about many things and prefer to let problems solve by themselves, we can say that conflicts are most likely to appear quite frequently.
</p>
          <p class="article__text text-justify">At the beginning, the relation is very good. Taurus enjoys everything that is good in life, (s)he is sensual and (s)he knows how to have fun. On the other hand though, Libra, precisely because (s)he is a Libra, can’t refrain from a little flirt every now and then, so that (s)he convinces him/herself that (s)he is still wanted. Taurus does not appreciate this, for Taurus is a sort of faithfulness fanatic.</p>
      </article>


      <article class="article article-virgo text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Libra-Virgo Compatibility</h2>
          <p class="article__text text-justify">Your pleasant, attractive personality will immediately attract a Virgo. The problem is Virgo’s perfectionism. Virgo criticizes anything that comes in the way and this is what you particularly dislike, being nagged and analyzed all the time and having your every step watched.</p>
          <p class="article__text text-justify">Besides that, Libra is too sentimental for a Virgo, who is often emotionally inhibited (or too reserved) and takes life TOO seriously. We are talking about a sunsign that is rather rigid for your taste and does not open up too easily. Love will have a short life for you two.</p>
      </article>


      <article class="article article-scorpio text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Libra-Scorpio Compatibility</h2>
          <p class="article__text text-justify">Ok, Scorpio is mysterious, (s)he lives intensely, (s)he seems to know the secret of the universe and (s)he is a little obsessed every now and then. Now, what can a nice Libra like about a Scorpio? Scorpio is a native difficult to understand and (s)he often needs time and isolation to grasp his/her own feelings.
</p>
          <p class="article__text text-justify">What Scorpio feels is very complex and (s)he may even love you in his/her way. But Scorpio’s ways are hard to decipher, for Scorpio is a Water sign so (s)he can go without problems where the rational and balanced Libra, who looks for equilibrium and harmony, is lost or refuses to go. Scorpio handles an ocean of feelings perfectly, even during a storm.
</p>
      </article>


      <article class="article article-pisces text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-smile" /></svg></div>
          <h2 class="article__header text-center">Libra-Pisces Compatibility</h2>
          <p class="article__text text-justify">If you happened to fall in love with a Pisces, you were probably fascinated by some mysterious, charming thing that all Pisces natives seem to hide. But don’t say I didn’t warn you: down there, in the depth of the water where the Fish live, there is nothing really, except for confusion, contradictory feelings and uncertainty.
</p>
          <p class="article__text text-justify">With some natives, it can work, but with others, it doesn’t. It depends on the other planets in your birthchart, especially for Pisces. The angle between you two on the circle of the zodiac is 150 degrees. Even without an astrological name, it still looks like a strange angle.
</p>
      </article>


      <article class="article article-cancer text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Libra-Cancer Compatibility</h2>
          <p class="article__text text-justify">Cheerful Air and temperamental Water? You’d better give up... Seriously, you’d better stay away from it.Why? Let’s start with the fact that Cancer is very, very, very sentimental. You will say that is a good thing in a relation. It is, indeed, but if it is too much, it affects and spoils the taste of the other ingredients, just like salt does.
</p>
          <p class="article__text text-justify">Governed by the Moon, the most wandering celestial body, Cancer is a capricious and self-restrain native. Well, we could call him/her “introspective”, so that we don’t upset him/her, but in reality Cancer changes from one moment to another.You just don’t know when and why Cancer got upset, it takes hours to make him/her get over it and, in addition, (s)he never forgets. Cancer forgives, but (s)he does not forget. And when (s)he gets the chance, (s)he explains to you how badly you hurt him/her five years ago. And if you can’t remember, Cancer will get upset all over again. Diplomacy can be very helpful in this relation, but pay attention to Cancer’s high sensitiveness.</p>
      </article>


      <article class="article article-capricorn text article--single">
          <div class="article__icon text-center"><svg width="64" height="64"><use xlink:href="{{static_url("images/sprite.svg")}}#icon-skull" /></svg></div>
          <h2 class="article__header text-center">Libra-Capricorn Compatibility</h2>
          <p class="article__text text-justify">The Libra-Capricorn relation is a difficult one and only the diplomacy, patience and tact of Libra can make it last. The main problem is that you are both cardinal signs which means you have a lot of ideas but there is no one to put them into practice.
</p>
          <p class="article__text text-justify">And there is also the fact that Capricorn, as an Earth sign, does not like changes: Capricorn usually travels by a tram called Reality. Moreover, Capricorn hardly ever has fun and you will always feel bored, for Libra is a sociable sign that likes being surrounded by people.
</p>
      </article>
{% end %}

{% block horoscopecard %}
What does today hold in store for Libras?
{% end %}

{% block famouscard %}
Did you know that Kim Kardashian and Eminem are both Libras?
{% end %}

{% block famouscardbutton %}
LIBRAS
{% end %}



{% block explorecard %}
Libras are very balanced by nature, diplomatic, just and charming to the core.
{% end %}

{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="active btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}