{% extends famous.html %}

{% block zodiac %}
cancer
{% end %}


{% block menuzodiacname %}
Cancerians
{% end %}

{% block aboutname %}
Cancerians
{% end %}

{% block famous %}

  <div class="container container-lg extra-padding" style="max-width: 1000px;">
    <div class="row row-lg">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/ernest-hemingway.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Ernest</span><br>
              <span class="person__lastname">Hemingway</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: July 21, 1899</div>
              <div class="person__text">American modernist author whose most famous works include The Old Man and the Sea, A Farewell to Arms, and For Whom the Bell Tolls. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/prince-william.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Prince</span><br>
              <span class="person__lastname">William</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: June 21, 1982</div>
              <div class="person__text">The eldest son of Prince Charles and Princess Diana, to become the head of the 53-member Commonwealth of Nations and the constitutional monarch of 16 sovereign states.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/princess-diana.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Princess</span><br>
              <span class="person__lastname">Diana</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: July 1, 1961</div>
              <div class="person__text">Officially known as Diana, Princess of Wales, she married Charles, the Prince of Wales and the heir to the throne of 16 Commonwealth realms. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/lionel-messi.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Lionel</span><br>
              <span class="person__lastname">Messi</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: June 24, 1987</div>
              <div class="person__text">Star soccer forward who gained world fame while playing with FC Barcelona and as captain of Argentina’s national team. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/tom-cruise.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Tom</span><br>
              <span class="person__lastname">Cruise</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: July 3, 1962</div>
              <div class="person__text">Actor and producer who won three Golden Globe Awards for his roles in Born on the Fourth of July, Jerry Maguire, and Magnolia. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/tom-hanks.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Tom</span><br>
              <span class="person__lastname">Hanks</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: July 9, 1956</div>
              <div class="person__text">Legendary actor who won back-to-back Oscars for Philadelphia in 1993 and Forrest Gump in 1994. </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>




{% end %}

{% block horoscopecard %}
What does today hold in store for Cancerians?
{% end %}

{% block compatibilitycard %}
Cancerians are likely to be friends with Taureans and enemies with Arians.
{% end %}

{% block explorecard %}
Cancerians are known to be very unpredictable, indecisive, temperamental, and insecure.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="active btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}