{% extends famous.html %}

{% block zodiac %}
leo
{% end %}

{% block menuzodiacname %}
leo
{% end %}

{% block aboutname %}
leo
{% end %}

{% block famous %}

  <div class="container container-lg extra-padding" style="max-width: 1000px;">
    <div class="row row-lg">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/barack-obama.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Barack</span><br>
              <span class="person__lastname">Obama</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: August 4, 1961</div>
              <div class="person__text">44th president of the United States and the first African-American president.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/jennifer-lawrence.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Jennifer</span><br>
              <span class="person__lastname">Lawrence</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: August 15, 1990</div>
              <div class="person__text">Hollywood star best known for playing Katniss Everdeen in the Hunger Games film franchise. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/percy_bysshe_shelley.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Percy</span><br>
              <span class="person__lastname">Bysshe Shelley</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: August 4, 1792</div>
              <div class="person__text">Major Romantic and lyric poet whose most famous works include Ozymandias, Ode to the West Wind, and Queen Mab. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/napoleon-bonaparte.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Napoleon</span><br>
              <span class="person__lastname">Bonaparte</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: August 15, 1789</div>
              <div class="person__text">Emperor of France who rose to power in the aftermath of the French Revolution in 1799. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/madonna.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Madonna</span><br>
              <span class="person__lastname"></span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: August 16, 1958</div>
              <div class="person__text">Grammy Award-winning pop singer who became known for hits such as “Like a Virgin,” “Papa Don’t Preach,” and “4 Minutes.”</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/triple-h.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Triple</span><br>
              <span class="person__lastname">H.</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: July 27, 1969</div>
              <div class="person__text">Born Paul Michael Levesque, he became known as Hunter Hearst Helmsley, son-in-law of WWE chairman and founder, Vince McMahon.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>




{% end %}

{% block horoscopecard %}
What does today hold in store for Taureans?
{% end %}

{% block compatibilitycard %}
Taurenas are likely to be friends with scorpios and enemies with capricorns
{% end %}

{% block explorecard %}
Taureans are very passionate when it comes to feelings.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="active btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}