{% extends base.html %}

{% block body %}

<body id="famous">
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block navbar %}{% end %}

  <div class="background-wrapper">
    <div class="container" style="max-width: 1000px;">
      <ul class="tabs">
        <li class="tabs__item"><a href="/{% block zodiac %}{% end %}/explore" class="tabs__link ">Overview</a></li>
        <li class="tabs__item"><a href="/{% block zodiac %}{% end %}/compatibility" class="tabs__link ">Compatibility</a></li>
        <li class="tabs__item"><a href="/{% block zodiac %}{% end %}/famous"  class="tabs__link tabs__link--active">Famous {% block menuzodiacname %}{% end %}</a></li>
      </ul>
    </div>
  </div>

{% block famous %}{% end %}

  <footer class="background-wrapper extra-padding">
    <div class="container text container-lg">
      <div class="row row-lg">
        <div class="col-md-4 col-xs-12">
          <div class="card card--blue">
            <div class="card__icon lightbulb"></div>
            <h2 class="card__header">{% block explorecard %}{% end %} </h2>
            <div class="card__action">
              <a href="/{% block zodiac %}{% end %}/explore" class="btn-outline card__link">EXPLORE MORE</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card card--orange">
            <div class="card__icon planet"></div>
            <h2 class="card__header">{% block horoscopecard %}{% end %}</h2>
            <div class="card__action">
              <a href="/{% block zodiac %}{% end %}" class="btn-outline card__link">VIEW HOROSCROPE</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card card--green">
            <div class="card__icon flash"></div>
            <h2 class="card__header">{% block compatibilitycard %}{% end %}</h2>
            <div class="card__action">
              <a href="/{% block zodiac %}{% end %}/compatibility" class="btn-outline card__link">DISCOVER COMPATIBILITY</a>
            </div>
          </div>
        </div>
      </div>
      <p class="created_by">Created by Ted, Lu, Zoe and Ash</p>
    </div>
  </footer>

{% end %}
