{% extends famous.html %}

{% block zodiac %}
capricorn
{% end %}

{% block menuzodiacname %}
Capricornians
{% end %}

{% block aboutname %}
Capricornians
{% end %}


{% block famous %}

  <div class="container container-lg extra-padding" style="max-width: 1000px;">
    <div class="row row-lg">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/elvis-presley.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Elvis</span><br>
              <span class="person__lastname">Presley</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 8/1/1935</div>
              <div class="person__text">The King of Rock n’ Roll who became a legendary presence in cultural history and the best-selling solo artist in the history of pop. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/michelle-obama.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Michelle</span><br>
              <span class="person__lastname">Obama</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 17/1/1964</div>
              <div class="person__text">First Lady of the United State of America, who married Barack Obama, the forty-fourth President of the United States of America, in 1992.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/mao.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Tsetung</span><br>
              <span class="person__lastname">Mao</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 26/12/1893</div>
              <div class="person__text">Chinese communist revolutionary who founded the People’s Republic of China in 1949.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/paul-revere.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Paul</span><br>
              <span class="person__lastname">Revere</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 1/1/1735</div>
              <div class="person__text">Patriot of the American Revolution who warned his fellow patriots, during his legendary midnight ride, that the British were coming.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/stan-lee.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Stan</span><br>
              <span class="person__lastname">Lee</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 28/12/1922</div>
              <div class="person__text">Marvel Comics’ writer, publisher, editor, and chairman who co-created Spider-Man, the Incredible Hulk, and the Fantastic Four.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/dove-cameron.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Dove</span><br>
              <span class="person__lastname">Cameron</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 15/1/1996</div>
              <div class="person__text">Actress who took on a starring role as Liv/Maddie Rooney on the Disney Channel series Liv Maddie. </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>




{% end %}

{% block horoscopecard %}
What does today hold in store for Capricornians?
{% end %}


{% block compatibilitycard %}
Capricornians are likely to be friends with Taureans and enemies with Arians.
{% end %}


{% block explorecard %}
Capricornians are the most determined of the entire Zodiac.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="active btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}