{% extends famous.html %}

{% block zodiac %}
gemini
{% end %}

{% block menuzodiacname %}
gemini
{% end %}

{% block aboutname %}
gemini
{% end %}

{% block famous %}

  <div class="container container-lg extra-padding" style="max-width: 1000px;">
    <div class="row row-lg">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/aaron-mcgruder.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Aaron</span><br>
              <span class="person__lastname">McGruder</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 29 May 1974</div>
              <div class="person__text">Who knew that a satirical comic strip created for a student newspaper at the University of Maryland, College Park would not only bring its creator name, fame and riches, but also make the series world renowned!</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/marilyn-monroe.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Marilyn</span><br>
              <span class="person__lastname">Monroe</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: June 1, 1926</div>
              <div class="person__text">Icon and sex symbol who starred in Some Like It Hot and became the most famous woman in the world during the 1950s. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/morgan-freeman.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Morgan</span><br>
              <span class="person__lastname">Freeman</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: June 1, 1937</div>
              <div class="person__text">Actor, director, and narrator who won an Academy Award for Best Supporting Actor for his role in the Clint Eastwood film Million Dollar Baby in 2005.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/allen-iverson.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Allen</span><br>
              <span class="person__lastname">Iverson</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 07 June, 1975</div>
              <div class="person__text">Also known by the nickname, ‘A.I” and ‘The Answer’, Allen Iverson has been rated by ESPN as ‘the fifth greatest NBA shooting guard of all time’.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/angelina-jolie.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Angelina</span><br>
              <span class="person__lastname">Jolie</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 04 June, 1975</div>
              <div class="person__text">Angelina Jolie is a well-known award-winning actress, humanitarian and UN Goodwill Ambassador.
</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/natalie-portman.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Natalie</span><br>
              <span class="person__lastname">Portman</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 09 June, 1981</div>
              <div class="person__text">Golden Globe and Academy Award winning actress, she has proved to be one of the most versatile and talented actresses in the entertainment industry.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>




{% end %}

{% block horoscopecard %}
What does today hold in store for Taureans?
{% end %}

{% block compatibilitycard %}
Taurenas are likely to be friends with scorpios and enemies with capricorns
{% end %}

{% block explorecard %}
Taureans are very passionate when it comes to feelings.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="active btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}