{% extends famous.html %}

{% block zodiac %}
virgo
{% end %}

{% block menuzodiacname %}
Virgos
{% end %}

{% block aboutname %}
Virgos
{% end %}


{% block famous %}

  <div class="container container-lg extra-padding" style="max-width: 1000px;">
    <div class="row row-lg">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/michael-jackson.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Michael</span><br>
              <span class="person__lastname">Jackson</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 29/8/1958</div>
              <div class="person__text">The King of Pop who became the most successful singer in American history for releasing award-winning hits like “Billie Jean” and “Beat It.”</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/ronaldo.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Ronaldo</span><br>
              <span class="person__lastname"></span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 18/9/1976</div>
              <div class="person__text">Striker known as The Phenomenon who won World Cup titles with Brazil in 1994 and 2002, and in 2006. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/andrew-lincoln.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Andrew</span><br>
              <span class="person__lastname">Lincoln</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 14/9/1973</div>
              <div class="person__text">He captivated audiences as Rick in The Walking Dead, nominated for a Critics’ Choice Television Award for Best Drama Actor in 2013.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/stephen-king.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Stephen</span><br>
              <span class="person__lastname">King</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 21/9/1947</div>
              <div class="person__text">Author whose bestselling horror, science fiction, and suspense novels include Carrie, Misery, and The Dark Tower series. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/cameron-diaz.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Cameron</span><br>
              <span class="person__lastname">Diaz</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 30/8/1972</div>
              <div class="person__text">Actress who made her on-screen debut in the 1994 comedy The Mask. </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="person">
          <a href="#" class="person__link">
            <img src="{{static_url("images/person")}}/beyonce-knowles.jpg" alt="Person" class="person__img">
            <div class="person__name">
              <span class="person__firstname">Beyonce</span><br>
              <span class="person__lastname">Knowles</span>
            </div>
            <div class="person__bio">
              <div class="person__dob">Born: 04/9/1981</div>
              <div class="person__text">Former member of the R&B girl group Destiny’s Child who also became a widely successful solo artist. </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>




{% end %}

{% block horoscopecard %}
What does today hold in store for Virgos?
{% end %}

{% block compatibilitycard %}
Virgos are likely to be friends with Taureans and enemies with Geminians.
{% end %}

{% block explorecard %}
Virgos are perfectionists to the core, or at least, they like to believe that they are.
{% end %}


{% block navbar %}
  <div class="container small-padding">
    <ul class="zodiac__list no-margin">
      <li class="zodiac__item">
        <a href="/sagittarius" class="btn-circle zodiac__link sagittarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-sagittarius" />
          </svg>
          <span class="zodiac__text">Sagittarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/capricorn" class="btn-circle zodiac__link capricorn--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-capricorn" />
          </svg>
          <span class="zodiac__text">Capricorn</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aquarius" class=" btn-circle zodiac__link aquarius--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aquarius" />
          </svg>
          <span class="zodiac__text">Aquarius</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/scorpio" class="btn-circle zodiac__link scorpio--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-scorpio" />
          </svg>
          <span class="zodiac__text">Scorpio</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/gemini" class="btn-circle zodiac__link gemini--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-gemini" />
          </svg>
          <span class="zodiac__text">Gemini</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/pisces" class="btn-circle zodiac__link pisces--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-pisces" />
          </svg>
          <span class="zodiac__text">Pisces</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/aries" class="btn-circle zodiac__link aries--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-aries" />
          </svg>
          <span class="zodiac__text">Aries</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/virgo" class="active btn-circle zodiac__link virgo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-virgo" />
          </svg>
          <span class="zodiac__text">Virgo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/leo" class="btn-circle zodiac__link leo--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-leo" />
          </svg>
          <span class="zodiac__text">Leo</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/taurus" class="btn-circle zodiac__link taurus--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-taurus" />
          </svg>
          <span class="zodiac__text">Taurus</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/cancer" class="btn-circle zodiac__link cancer--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-cancer" />
          </svg>
          <span class="zodiac__text">Cancer</span>
        </a>
      </li>
      <li class="zodiac__item">
        <a href="/libra" class="btn-circle zodiac__link libra--reverse">
          <svg class="zodiac__icon">
            <use xlink:href="{{static_url("images/sprite.svg")}}#icon-libra" />
          </svg>
          <span class="zodiac__text">Libra</span>
        </a>
      </li>
    </ul>
  </div>


         

{% end %}