{% extends base.html %}

{% block heading %}
Taurus
{% end %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor, tellus non interdum dignissim, arcu mi accumsan nunc, et ultrices mauris dolor sed mi. Fusce ut pulvinar ipsum. Ut vel quam non ipsum viverra sollicitudin in sed leo. Morbi ultricies molestie tellus, sit amet fringilla ante imperdiet quis. Fusce imperdiet pharetra tempor. Duis eget porttitor magna. Pellentesque bibendum sagittis orci. Nam elementum, magna in mattis accumsan, est lacus gravida sem, sit amet vestibulum tellus diam eu erat. Praesent nec facilisis justo. Fusce tellus turpis, facilisis sit amet nunc at, elementum tincidunt augue.</p>

<p>Sed a neque velit. Duis sit amet dui ut odio facilisis consectetur non a felis. Integer sed ipsum porta erat ullamcorper malesuada. Morbi accumsan urna sed augue ultrices, et sodales ante mollis. Aliquam pulvinar finibus erat id accumsan. Maecenas sit amet purus id orci congue accumsan ut vel elit. Aliquam tristique ultricies purus, vestibulum laoreet urna fringilla luctus. Ut commodo tortor ut nulla malesuada sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce vel lorem ut urna ultricies pharetra a id nibh. Praesent sed dui vulputate, placerat eros quis, vestibulum erat. Quisque accumsan urna vel velit ultrices, in ornare augue dictum.</p>
{% end %}
